{{define "games-view"}}
<html>
<head>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<h1>Blokus Games List</h1>
<div>
<form name="new-game-form" method="POST" action="{{.FormAction}}">
  <button type="submit">Create Game</button>
</form>
</div>

{{template "games-list" .}}

</body>
</html>
{{end}}