{{define "header" -}}
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
<style>
body {
	font-family: 'Sansita', sans-serif;
}
div.section {
	padding-bottom: 1em;
}
.error-message {
	color: red;
}
.error-message:empty {
	display: none;
}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
{{- end}}